@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* Basic reset */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Montserrat font family utility */
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

/* Helvetica Neue font family utility */
.font-helvetica {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}